            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>ReCommendation Restaurant</title>
                <link rel="manifest" href="./app.manifest" >

            </head>
            <body>

                <a href="#main-content" id="content" class="skip-link" tabindex="1">Skip to content ?</a>

                <!-- Mobile Navbar -->
                <div class="menumob">
                    <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
                    <div class="logomob">Restaurant</div>

                </div>
                <nav id="drawer" class="navmob">
                    <ul class="navlistmob">
                        <li class="navitemsmob"><a href="#/home">Home</a></li>
                        <li class="navitemsmob"><a href="#/favorite">Favorite</a></li>
                        <li class="navitemsmob"><a target="_blank" href="https://www.instagram.com/asgoriontus/?hl=id">About Us</a></li>
                    </ul>
                </nav>
                <!-- Desktop Navbar -->
                <nav class="nav">
                    <div class="logo" >Restaurant</div>
                    <ul class="navlist">
                        <li class="navitems"><a href="#/home">Home</a></li>
                        <li class="navitems"><a href="#/favorite">Favorite</a></li>
                        <li class="navitems"><a target="_blank" href="https://www.instagram.com/asgoriontus/?hl=id">About Us</a></li>
                    </ul>
                </nav>
                <!-- Jumbotron -->
                <div class="hero" id="hero">
                    <div class="heroinner">
                        <h1 class="herotitle">Restaurant</h1>
                        <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
                    </div>
                    </div>
                </div>
                <!-- Content -->
                <main id="main-content" tabindex="1">
                    <section class="content">
                        <div class="latest">
                        <h1>Explore Restaurant</h1>
                        </div>
                    
                        <div class="card-list"></div>
                    </section>
                </main>
                <!-- Footer -->
                <footer class = "custom-element" tabindex="0" id="custom-element">
                    <h3>Muhammad Faza Putra Lisnantho </h3>
                </footer>
            </body>
            </html>